<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/introbg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant_Yummy"
        tools:targetApi="31">

        <activity
            android:name=".PizzaServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".MeatServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".DrinkServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".DessertServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".ChickenServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".BurgerServing"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".UpdatePass"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".PurchasedItems"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ItemsLayout"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>